<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reverse Job Posting</title>
    <link rel="stylesheet" type="text/css" href="/css/app.min.css">
  </head>
  <body>
    <header>
    {% include "partials/_header.njk" %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
    {% include "partials/_footer.njk" %}
    </footer>
  </body>
</html>
