* {
  box-sizing: border-box;
}

#contact {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

form {
  font-family: var(--system);
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-row-gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  max-width: 550px;
  text-align: var(--left);
}

.field {
  font-family: var(--system);
  display: grid;
  grid-gap: inherit;
  grid-row: span 2;
  grid-template-rows: 4rem 1fr;
  grid-template-rows: subgrid; // Firefox only
}
