@media screen and (min-width: 665px) {

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
}
 
.me {
  border-radius: 100%;
  grid-column: 1;
  grid-row: 1;
  align-self: var(--center);
}

.intro {
  grid-column: 2;
  grid-row: 1;
  text-align: var(--left);
}

#social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  align-content: var(--center);
  list-style-type: var(--no-list);
}
  
.fa-github {
  grid-column: 1;
  align-self: var(--center);
}
  
.fa-linkedin {
  grid-column: 2;
  align-self: var(--center);
}

.fa-mastodon {
  grid-column: 3;
  align-self: var(--center);
}

}
