.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.25rem;
}

.me {
  border-radius: 100%;
  grid-row: 1;
  margin: 0 auto;
  align-self: var(--center);
  max-width: 100%;
  height: auto;
}

.intro {
  grid-row: 2;
}

.content, .rjp {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.bbedit {
  text-align: var(--center);
}

.not-found {
  text-align: var(--center);
}

.confirm {
  text-align: var(--center);
}

#rights {
  white-space: normal;
  text-align: var(--center);
}

#social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.15rem;
  text-align: var(--center);
  list-style-type: var(--no-list);
}

.fa-github {
  grid-column: 1;
  text-align: var(--center);
}
  
.fa-linkedin {
  grid-column: 2;
  text-align: var(--center);
}
 
.fa-mastodon {
  grid-column: 3;
  text-align: var(--center);
}
