#rjp {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
  grid-row-gap: 20px;
}

.skills, .criteria, .work {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

#who {
  font-weight: bold;
}

#what {
  font-weight: bold;
}

#where {
  font-weight: bold;
}
