<ul id="social">
  <li><a href="https://github.com/chrisfinazzo"><i class="fa-brands fa-github fa-2xl"></i></a></li>
  <li><a href="https://www.linkedin.com/in/chrisfinazzo"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
  <li><a href="https://mastodon.social/@chrisfinazzo"><i class="fa-brands fa-mastodon fa-2xl"></i></a></li>
</ul>
