<ul id="social">
<li class="fa-github"><a href="https://github.com/chrisfinazzo"><i class="fa-brands fa-github fa-xl"></i></a></li>
<li class="fa-linkedin"><a href="https://linkedin.com/in/chrisfinazzo"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
<li class="fa-mastodon"><a href="https://mastodon.social/@chrisfinazzo"><i class="fa-brands fa-mastodon fa-xl"></i></a></li>
</ul>
